{{define "siteHeader"}}
    <header class="site-header">
        <div class="container header-inner">
            <div class="brand">Go html/template Sample</div>
            <nav class="nav">
            </nav>
        </div>
    </header>
{{end}}
