name: Playwright Tests

on:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5.0.0

      - uses: actions/setup-go@v6.0.0
        with:
          go-version-file: 'go.mod'

      - name: Setup Node.js
        uses: actions/setup-node@v4.2.0
        with:
          node-version: '24'

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 9.12.2
          run_install: true

      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps

      - name: Start docker compose services
        run: make compose

      - name: Run Playwright tests
        env:
          AWS_ACCESS_KEY_ID: test
          AWS_SECRET_ACCESS_KEY: test
        run: pnpm run test:e2e

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
